PORT=3000
JWT_SECRET=coloque-uma-chave-longa-e-segura-aqui
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@anossa.com
ADMIN_PASSWORD=coloque-uma-senha-forte-aqui
MONGODB_URI=mongodb+srv://USUARIO:SENHA@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=anossa_db
